.component {
  background-color: white;

  padding: 8px;

  /* cancel the default styles */
  list-style-type: none;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.description {
  font-size: 16px;
}
